*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: calc(.7em + 1vw);
}

body {
    font-family: 'Inter', sans-serif;
    color: $content-color-light-200;
}

h1, h2, h3 {
font-family: 'Playfair Display', serif;
color: $content-color;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

input[type=text] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

p {
    font-size: .8rem;
    color: #7D7987;
    font-weight: 300;
}

