.secondary-btn, .primary-btn {
    display: block;
    border: transparent;
    box-shadow: none;
    outline: none;
    font-family: inherit;
    color: $secondary-color;
    border: 1px solid $secondary-color;
    font-weight: 500;
    border-radius: .5rem;
    padding: 1rem 3rem;
    cursor: pointer;
}


.primary-btn {
    color: $background;
    background-color: $secondary-color;
}