.testimonials {
    @include container;
    display: flex;
    justify-content: space-between;
    // flex-direction: column;
    &__stars {
        display: flex;
        min-width: 30%;
        max-width: 45%;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.7rem;
    }
    &__star {
        width: 1rem;
        height: 1rem;
    }
    &__info {
        display: flex;
        flex: 0 0 40%;
        flex-direction: column;
        margin-top: 2.3rem;
    }
    &__name {
        display: block;
        font-weight: 600;
        color: $content-color;
        font-size: 1.2rem;
    }
    &__job {
        font-weight: 300;
        font-size: .8rem;
    }
    &__image {
        flex: 0 0 40%;

        &-container {
            width: 100%;
            position: relative;
            > img {
                border-radius: 1.2rem;
                }
        }
    }
    &__controls {
        position: absolute;
        background: #fff;
        bottom: 0;
        right:0;
        padding: 1rem 0 0 1rem;
        border-top-left-radius: 1.2rem;
    }
}

.arrow {
    width: 1.2rem;
    height: 1.2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    &-left {
        transform: rotateZ(180deg);
    }
    &--deactivate {
        opacity: .5;
    }
}


@media (max-width: 460px){
    .testimonials {
        flex-direction: column;
        &__image {
            margin-top: 2rem;
        }
    }

}