.title {
    font-size: 2.3rem;
    font-family: 'Playfair Display', serif;
    color: $content-color;
    line-height: 3rem;
    margin-bottom: 3rem;
}

.subtitle {
    color: $content-color;
    font-weight: 500;
    font-size: 1.4rem;
    margin-bottom: 2rem;
}