.title {
    font-size: 2.3rem;
    color: $content-color;
    line-height: 3rem;
    margin-bottom: 3rem;
}
.title-2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.subtitle {
    color: $content-color;
    font-weight: 500;
    font-size: 1.4rem;
    margin-bottom: 2rem;
}