$primary-color: #1ABE84;
$secondary-color: #FB8F1D;
$content-color: #202336;
$content-color-light-300: #4A4C53;
$content-color-light-200: #7D7987;
$content-color-light-100: #AFB0B9;
$accent-color-1: #FFBB0C;
$background: #fff;
$background-accent: #F9F9FB;
$section-padding: 4rem 0;